body{
  background-image: url(img/7-1bg.png);
    /*this height allows us to see the full background picture vertically*/
  height: 2875px;
  /*this width prevents the images from wrapping*/
  width: 1600px;
  background-repeat: no-repeat;
  background-position: 200px 0;
  
}
img{
  /*these properties together allow inline elements on the same row to have independent top and bottom margins/padding*/
  display:inline-block;
  vertical-align: top;
}

/*
Add your CSS to the ID selectors below
*/

#ball{
  padding: 12px 215px;
}

#turnip{
  padding: 181px 0px 0px 489px;
}

#grass{
  padding: 181px 0px 0px 47px;
}

#L{
padding: 1358px 0px 0px 292px;
}

#T{
  padding: 1458px 0px 0px 96px;
}

#I{
  padding: 1359px 0px 0px 295px;
}